body {
  /* background-color: #eaeded; */
  padding: 0;
  margin: 0;
}

.bg {
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgb(251, 251, 251) 0%,
    rgb(2, 255, 217) 25%,
    rgb(73, 188, 255) 51%,
    rgb(242, 53, 255) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
